<div class="loading" *ngIf="">
    <mat-spinner></mat-spinner>
    LOADING
</div>


<div style="text-align:center">
    <div class="grid-layout">
        <div *ngFor="let digimon of digimons | search: query | levelFilter: levels">
            <div class="tp-wrapper">
                <div class="tp-box" (click)="toggleFlip(digimon)" [@flipState]="digimon.flip">
                    <div class="tp-box__side tp-box__front">
                        <mat-card class="digimon-card">
                            <img mat-card-image src="{{ digimon.img }}" alt="..">
                            <p style="font-size: 12px;"> Ver info
                            </p>
                        </mat-card>
                    </div>
                    <div class="tp-box__side tp-box__back" style="background-color: aliceblue;">
                        <mat-card class="digimon-card">
                            <img mat-card-image src="../../../assets/logo.jpg" alt="..">
                            <p style="font-size: 12px;"> {{ digimon.id }} - {{ digimon.name | titlecase }} | {{digimon.level }}
                            </p>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>